html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #605f60;
}
body {
  background: $main;
}

.page-container {
  min-height: 72vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #f7f7f7;
}
hr {
  border-top-color: #c1c1c1;
}
a:focus,
a:active {
  box-shadow: none;
  outline: none;
}
.higher-content {
  z-index: 1;
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
    padding: 0;
  }
}
