<div class="bg">
  <h1 class="mb-4 text-center text-white">
    {{'contactus.title' | translate}}
  </h1>
  <div class="title-box text-center text-white mx-auto">
    <h6 class="mb-3 text-white">{{'contactus.Got a Question' | translate}}?</h6>
    <div>{{'contactus.text1' | translate}}:</div>
    <a class="btn">{{'contactus.button' | translate}}</a>
    <div>{{'contactus.text2' | translate}}</div>
  </div>
</div>
<div class="page-container">
  <h6 class="text-center mb-5">
    {{'contactus.Join our online communities' | translate}}
  </h6>
  <div class="text-center d-flex justify-content-center social-icons">
    <a>
      <div class="my-icon facebook" [inlineSVG]="'/assets/icon/facebook.svg'"></div>
      Facebook
    </a>
    <a>
      <div class="my-icon twitter" [inlineSVG]="'/assets/icon/twitter.svg'"></div>
      Twitter
    </a>
    <a>
      <div class="my-icon telegram" [inlineSVG]="'/assets/icon/telegram.svg'"></div>
      Telegram
    </a>
    <a>
      <div class="my-icon instagram" [inlineSVG]="'/assets/icon/instagram.svg'"></div>
      Instagram
    </a>
    <a>
      <div class="my-icon" [inlineSVG]="'/assets/icon/medium.svg'"></div>
      Medium
    </a>
    <a>
      <div class="my-icon" [inlineSVG]="'/assets/icon/reddit.svg'"></div>
      Reddit
    </a>
    <a>
      <div class="my-icon" [inlineSVG]="'/assets/icon/steem.svg'"></div>
      Steem
    </a>
  </div>
  <div class="contact-box mx-auto d-flex justify-content-center text-center">
    <a>
      <div class="contact-icon" [inlineSVG]="'/assets/icon/mobile.svg'"></div>
      5316251897
    </a>
    <a>
      <div class="contact-icon" [inlineSVG]="'/assets/icon/phone.svg'"></div>
      0850 304 1 282
    </a>
    <a>
      <div class="contact-icon" [inlineSVG]="'/assets/icon/email.svg'"></div>
      admin@sistemkoin.com
    </a>
  </div>
</div>