<div class="page-container">
    <div class="container">
        <h3 class="text-center mb-4">
            {{'FOOTER.HOW_TO_SELL_COIN' | translate}}
        </h3>
        <p>Sitemizde mevcut olan coinlerden satın alabilmek için, sitemize girip hesap oluşturmanız ve profilinizi onaylatmanız gerekmektedir. Profil onaylama işlemi için ''güvenlik ayarları'' bölümünü kullanabilirsiniz. Onay sonucunda hesabınıza yatırdığınız miktar para kadar koin alabilirsiniz .</p>
        <p>Koin satabilmek için öncelikle satmak istediğiniz koini seçmelisiniz. Daha sonra SATIŞ EMRİ OLUŞTUR bölümünden satmak istediğiniz fiyatı ve miktarı girerek satılanlar listesinde satış işleminizi takip edebilirsiniz. Diğer kullanıcılar veya kendiniz Sizin girdiiğiniz fiyattan  almak istediklerinde sistemimiz otomatik olarak bunları eşleştirecektir. Koin satım işleminiz tamamlanacaktır.</p>
    </div>
</div>