<div class="page-container">
  <div class="container">
    <h3 class="text-center mb-4">
      {{'googleauth.title' | translate}}
    </h3>
    <form class="box">
      <div class="mx-auto" style="max-width: 690px">
        <div class="form-group row">
          <label class="col-sm-4  col-form-label text-sm-right pr-0">
            {{'googleauth.Login Password' | translate}}:
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4  col-form-label text-sm-right pr-0">
            {{'googleauth.Google Authentication Code' | translate}}:
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
            <br/>
            <button class="btn btn-warning mt-3">{{'button.Submit' | translate}}</button>
          </div>
        </div>
        <hr class="mt-5 mb-5" />

        <div class="text-center">
          <strong class="text-yellow">{{'googleauth.Note' | translate}}:</strong> {{'googleauth.text1' | translate}}
        </div>
      </div>
    </form>
  </div>
</div>