<div class="wrapper">
    <div class="text-center mb-5">
        <a [routerLink]="['/']"><img src="/assets/img/logo1.png"></a>
    </div>

    <div class="box mx-auto" style="max-width:800px">
        <div style="max-width: 663px; margin: 0 auto">
            <h2 class="text-center">{{'AUTH.CONFIRM_AUTH_TITLE' | translate}}</h2>

            <form class="mt-5">
                <div class="form-group row">
                    <label class="col-sm-4  col-form-label text-sm-right pr-0" [ngSwitch]="allowed_g2f">
                        <div *ngSwitchCase="1">{{'AUTH.GOOGLE_AUTHENTICATION_CODE' | translate}}: </div>
                        <div *ngSwitchCase="2">{{'AUTH.SMS_AUTHENTICATION_CODE' | translate}}: </div>
                        <div *ngSwitchCase="3">{{'AUTH.EMAIL_AUTHENTICATION_CODE' | translate}}: </div>
                    </label>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-12 pr-0">
                                <input type="text" class="text-center form-control" name="confirm_code" [(ngModel)]="confirm_code"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-right">
                <button class="btn btn-warning btn-main mt-5 mb-1 mr-5" (click)="onSubmitCode()">{{'BUTTON.SUBMIT' | translate}}</button>
            </div>
        </div>
    </div>
    <user-footer></user-footer>
</div>