<div class="page-container">
  <div class="container">
    <h3 class="text-center mb-4">
      {{'ticket.title' | translate}}
    </h3>
    <form class="box">
      <div class="d-flex align-items-center flex-wrap">
        <label class="required">{{'ticket.Issue Type' | translate}}</label>
        <select class="form-control w-auto ml-sm-4 mb-2 mb-sm-0">
          <option>{{'ticket.Choose here' | translate}}</option>
          <option>dsdddddddddddddddddddddsasd</option>
        </select>
        <select class="form-control w-auto ml-sm-3">
          <option>{{'ticket.Choose here' | translate}}</option>
        </select>
      </div>

      <div [innerHTML]="'ticket.text1' | translate"></div>

      <div class="text-center">
        <div class="dropzone mx-auto">
          <div class="drop-background">
          </div>
          <button class="btn btn-warning w-100">{{'button.Upload' | translate}}</button>
        </div>
      </div>

      <div class="text-center mb-5" style="margin-top: 6rem">
        <button class="btn btn-black primary-size">{{'button.Back' | translate}}</button>
        <button class="btn btn-warning primary-size ml-sm-4 mt-2 mt-sm-0">{{'button.Submit' | translate}}</button>
      </div>
    </form>
  </div>
</div>