<div class="price-row">
  <div class="d-inline-flex justify-content-center">
    <div class="mr-2">
      <img src="/assets/icon/bitcoin-big.png" alt="bitcoin">
    </div>
    <div class="text-left">
      <strong>Bitcoin {{'market.Price' | translate}}</strong>
      <br/> 7,719.75
    </div>
  </div>
  <div>
    <strong>24h {{'market.Change' | translate}}</strong>
    <br/> 202.41
    <span class="text-success">+3.10%</span>
  </div>
  <div>
    <strong>24h {{'market.Volume' | translate}}</strong>
    <br/> 254,675,885.90
  </div>
  <div>
    <strong>24h {{'market.High' | translate}}</strong>
    <br/> 8,200.00
  </div>
  <div>
    <strong>24h {{'market.Low' | translate}}</strong>
    <br/> 7656.74
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-3 mb-4">
    <div class="box price-box">
      <div>
        <button class="btn btn-pricetype active">
          <img src="/assets/icon/price_type1.png" alt="type1">
        </button>
        <button class="btn btn-pricetype">
          <img src="/assets/icon/price_type2.png" alt="type1">
        </button>
        <button class="btn btn-pricetype">
          <img src="/assets/icon/price_type2.png" alt="type1">
        </button>
        <select class="form-control float-right">
          <option>2 {{'market.decimals' | translate}}</option>
        </select>
      </div>
      <table class="table mb-1">
        <colgroup>
          <col width="40%">
          <col width="40%">
          <col width="auto">
        </colgroup>
        <thead>
          <tr>
            <th>{{'market.Price' | translate}}(USDT)</th>
            <th>{{'market.Amount' | translate}}(BTC)</th>
            <th class="text-right">{{'market.Total' | translate}}(USDT)</th>
          </tr>
        </thead>
        <tbody class="text-danger">
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center alert mb-0">
        <span class="text-success mr-3">7719.75 ▲
        </span>
        $7719.96
      </div>
      <table class="table mb-1">
        <colgroup>
          <col width="40%">
          <col width="40%">
          <col width="auto">
        </colgroup>
        <tbody class="text-success">
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
          <tr>
            <td>7726.06</td>
            <td>0.099500</td>
            <td class="text-right">770.28821</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="box p-1 d-flex chartbox-1 h-100">
      <div class="flex-1">
        <img src="/assets/img/chart1.png" class="h-100 mw-100" alt="chart1">
      </div>
      <div class="d-inline-flex flex-column">
        <button class="btn btn-white with-border">{{'market.Time' | translate}}</button>
        <button class="btn btn-white with-border">m</button>
        <button class="btn btn-white with-border">1H</button>
        <button class="btn btn-white with-border">1D</button>
        <button class="btn btn-white with-border">1W</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="box coin-box h-100">
      <div class="d-flex text-12 align-items-center">
        <input class="form-control" placeholder="search...">
        <label class="custom-radio mx-3">{{'market.Change' | translate}}
          <input type="radio" name="volume" checked="checked" value="change">
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">{{'market.Volume' | translate}}
          <input type="radio" name="volume" value="volume">
          <span class="checkmark"></span>
        </label>
      </div>
      <table class="table mt-2">
        <colgroup>
          <col width="40%">
          <col width="40%">
          <col width="auto">
        </colgroup>
        <thead>
          <tr>
            <th>{{'market.Pair' | translate}}</th>
            <th>{{'market.Price' | translate}}</th>
            <th class="text-right">{{'market.Change' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td class="text-success">0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
          <tr>
            <td>ADA/USDT</td>
            <td>0.14197</td>
            <td class="text-right">-4.55%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="box h-100 chartbox-2">
      <div class="d-flex align-items-center">
        <select class="form-control w-auto">
          <option>30 {{'market.Mins' | translate}}</option>
        </select>
        <select class="form-control w-auto">
          <option>{{'market.Chart' | translate}}</option>
        </select>
        <select class="form-control w-auto">
          <option>{{'market.Studies' | translate}}</option>
        </select>
        <select class="form-control w-auto">
          <option>{{'market.Select Tool' | translate}}</option>
        </select>
        <div class="ml-auto">
          <i class="fa fa-gear"></i>
        </div>
      </div>
      <div class="box p-0 mt-2">
        <img src="/assets/img/chart2.png" class="w-100 mw-100">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box trade-box">
      {{'market.Trade History' | translate}}
      <div class="box p-2 mt-2">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
            <tr>
              <td class="text-success">6,710.00</td>
              <td>0.001237</td>
              <td class="text-right">18:001</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>