<div class="container">
  <div class="row align-items-center  flex-sm-row-reverse">
    <div class="col-md-7 col-sm-6">
      <img class="mw-100" src="/assets/img/404.png" alt="404" />
    </div>
    <div class="col-md-5 col-sm-6 text-center text-md-left">
      <h1 class="mb-5">
        {{'404.Oops' | translate}}!
        <br/>
        <strong>{{'404.Page not found' | translate}}.</strong>
      </h1>
      <a class="text-yellow">
        <i class="fa fa-long-arrow-left mr-2"></i> {{'404.Go Back' | translate}}</a>
    </div>
  </div>
</div>