<div class="page-container">
    <div class="container">
        <h3 class="mb-4">
            {{'HEADER.USD_WALLET' | translate}}
        </h3>
        <div class="box" *ngIf="iban_code_usd == ''">
            <div class="row">
                <div class="col-md-12">
                    {{'TLWALLET.NO_IBAN_CODE_MSG' | translate}}<a [routerLink]="['/bank']">{{'TLWALLET.HERE' |
                    translate}}</a>.
                </div>
            </div>
        </div>
        <div class="d-flex" *ngIf="iban_code_usd != ''">
            <div class="col-md-6 box mr-md-2">
                <h5 class="text-center">{{'TLWALLET.USD_DEPOSIT' | translate}}</h5>
                <div class="form-group row">
                    <label class="col-12">{{'TLWALLET.DEPOSIT_AMOUNT' | translate}}</label>
                    <div class="col-sm-8">
                        <input type="number" step=0.01 class="form-control" name="deposit_amount"
                               [(ngModel)]="deposit.amount">
                    </div>
                    <div class="col-sm-4 pl-md-5 mt-2 mt-sm-0">
                        <button class="btn btn-primary w-100 with-border with-control" (click)="onClickDepositEpay()">{{'TLWALLET.VIA_EPAY' | translate}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{'TLWALLET.SELECT_IBAN_CODE' | translate}}</label>
                    <select class="form-control" name="deposit_address" [(ngModel)]="deposit.to_address">
                        <option *ngFor="let bank of banks" value="{{bank.name}}">{{bank.name}}
                        </option>
                    </select>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.AMOUNT_WANT_DEPOSIT' | translate}}</label>
                        <input class="form-control" value='{{deposit.amount | number:"1.2-2"}} $' readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.DEPOSIT_FEE' | translate}}</label>
                        <input class="form-control"
                               value="{{settings.getSystemSetting('usd_deposit_fee') | number:'1.2-2'}} $" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.AMOUNT_TO_DEPOSIT' | translate}}</label>
                        <input class="form-control"
                               value="{{(deposit.amount - settings.getSystemSetting('usd_deposit_fee')) | number:'1.2-2'}} $"
                               readonly>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary with-border primary-size" (click)="depositUSD()">
                        {{'TLWALLET.DEPOSIT_USD' | translate}}
                    </button>
                </div>
            </div>

            <div class="col-md-6 box" *ngIf="deposited">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <p class="text-danger">
                            {{'TLWALLET.COMPANY_NAME' | translate}}
                        </p>
                    </div>
                </div>

                <div class="row m-t-10">
                    <div class="col-md-4">
                        <label>{{'TLWALLET.SELECT_IBAN_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{depositinfo.to_address}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>{{'TLWALLET.YOUR_IBAN_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{depositinfo.iban_code}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>{{'LABEL.CONFIRM_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{depositinfo.txid}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>{{'LABEL.AMOUNT' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{depositinfo.amount | number:'1.0-2'}}</label>
                    </div>
                </div>

                <div class="text-center mt-5">
                    <button class="btn btn-warning with-border primary-size" (click)="deposited=false">
                        {{'BUTTON.CONFIRM' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-md-6 box" *ngIf="!deposited">
                <h5 class="text-center">{{'TLWALLET.USD_WITHDRAW' | translate}}</h5>
                <div class="form-group row">
                    <label class="col-12">{{'TLWALLET.WITHDRAW_AMOUNT' | translate}}</label>
                    <div class="col-sm-8">
                        <input type="number" step=0.001 class="form-control" name="withdraw_amount"
                               [(ngModel)]="withdraw.amount">
                    </div>
                    <div class="col-sm-4 pl-md-5 mt-2 mt-sm-0">
                        <button class="btn btn-primary w-100 with-border with-control" (click)="onClickWithdrawEpay()">{{'TLWALLET.VIA_EPAY' | translate}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{'TLWALLET.YOUR_IBAN_CODE' | translate}}</label>
                    <input type="text" class="form-control" name="withdraw_address" value="{{withdraw.to_address}}"
                           readonly>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>{{'LABEL.BALANCE' | translate}}</label>
                        <input class="form-control" value="{{settings.getBalance('USD') | number:'1.2-2'}} $" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.AMOUNT_WANT_WITHDRAW' | translate}}</label>
                        <input class="form-control" value="{{withdraw.amount | number:'1.2-2'}} $" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.WITHDRAW_FEE' | translate}}</label>
                        <input class="form-control"
                               value="{{settings.getSystemSetting('usd_withdraw_fee') | number:'1.2-2'}} $" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>{{'TLWALLET.AMOUNT_TO_WITHDRAW' | translate}}</label>
                        <input class="form-control"
                               value="{{(withdraw.amount - settings.getSystemSetting('usd_withdraw_fee')) | number:'1.2-2'}} $"
                               readonly>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-warning with-border primary-size" (click)="withdrawUSD()">
                        {{'TLWALLET.WITHDRAW_USD' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <h3 class="my-4">
            {{'TLWALLET.PENDING_TRANSACTIONS' | translate}}
        </h3>
        <div class="table-responsive history-table box">
            <table class="table">
                <thead>
                <tr>
                    <th>{{'LABEL.TYPE' | translate}}</th>
                    <th>{{'LABEL.STATUS' | translate}}</th>
                    <th>{{'LABEL.TIME' | translate}}</th>
                    <th>{{'LABEL.AMOUNT' | translate}}</th>
                    <th>{{'LABEL.ADDRESS' | translate}}</th>
                    <th>{{'LABEL.CONFIRM_CODE' | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tx of pendingLists">
                    <td><label class="label label-sm "
                               [ngClass]="{'label-success': tx.type == 3, 'label-info': tx.type == 1}">
                        {{(tx.type == 1 ? 'LABEL.WITHDRAW' : 'LABEL.DEPOSIT') | translate}}</label>
                    </td>
                    <td>
                        <label [ngClass]="{'label-purple': tx.status == 0, 'label-danger' : tx.status == 2}">
                            {{(tx.status == 0 ? 'LABEL.PENDING' : 'LABEL.FAILED') | translate}}
                        </label>
                    </td>
                    <td>{{tx.datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{(tx.type == 3 ? tx.dest_amount : tx.src_amount) | number:'1.2-2'}}</td>
                    <td>{{tx.type == 3 ? tx.to_address : tx.from_address}}</td>
                    <td>{{tx.type == 3 ? tx.txid : ''}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger" (click)="cancelTransaction(tx.id)">Cancel
                        </button>
                    </td>
                </tr>
                <tr *ngIf="pendingLists?.length == 0">
                    <td class="text-center" colspan="7">
                        {{'TLWALLET.NO_PENDING_FOUND' | translate}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="my-4">
            {{'TLWALLET.PAST_TRANSACTIONS' | translate}}
        </h3>
        <div class="table-responsive history-table box">
            <table class="table">
                <thead>
                <tr>
                    <th>{{'LABEL.TYPE' | translate}}</th>
                    <th>{{'LABEL.STATUS' | translate}}</th>
                    <th>{{'LABEL.TIME' | translate}}</th>
                    <th>{{'LABEL.AMOUNT' | translate}}</th>
                    <th>{{'LABEL.ADDRESS' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tx of pastLists">
                    <td><label class="label label-sm "
                               [ngClass]="{'label-primary': tx.type == 3, 'label-info': tx.type == 1}">
                        {{(tx.type == 1 ? 'LABEL.WITHDRAW' : 'LABEL.DEPOSIT') | translate}}</label>
                    </td>
                    <td><label class="label label-sm ">{{'LABEL.SUCCESS' | translate}}</label></td>
                    <td>{{tx.datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{(tx.type == 3 ? tx.dest_amount : tx.src_amount) | number:'1.2-2'}}
                    </td>
                    <td>{{tx.type == 3 ? tx.to_address : tx.from_address}}</td>
                </tr>
                <tr *ngIf="pastLists?.length == 0">
                    <td class="text-center" colspan="5">
                        {{'TLWALLET.NO_TRANSACTIONS_FOUND' | translate}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<modal-dialog [(visible)]="showAuthModal" [closable]="false">
    <form class="mt-5">
        <div class="form-group row">
            <label class="col-sm-4  col-form-label text-sm-right pr-0" [ngSwitch]="allowed_g2f">
                <div *ngSwitchCase="1">{{'AUTH.GOOGLE_AUTHENTICATION_CODE' | translate}}:</div>
                <div *ngSwitchCase="2">{{'AUTH.SMS_AUTHENTICATION_CODE' | translate}}:</div>
                <div *ngSwitchCase="3">{{'AUTH.EMAIL_AUTHENTICATION_CODE' | translate}}:</div>
            </label>

            <div class="col-sm-7">
                <div class="row">
                    <div class="col-12 pr-0">
                        <input type="text" class="text-center form-control" name="auth_code" [(ngModel)]="auth_code"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-2">
            <button type="button" class="btn btn-warning dialog-button" (click)="submitWithdraw()">{{'BUTTON.SUBMIT' | translate}}
            </button>
            <button type="button" class="btn btn-info dialog-button ml-3" (click)="showAuthModal = !showAuthModal">
                {{'BUTTON.CANCEL' | translate}}
            </button>
        </div>
    </form>
</modal-dialog>

<modal-dialog [(visible)]="showEPayDespositModal">
    <form class="form-horizontal">
        <div class="text-center">
            <img src="assets/img/ePay.png" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a target="_blank" href="https://www.epay.com/?ref=782152">{{'TLWALLET.REFERRAL_ID' | translate}}</a>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-4">
                <label>{{'TLWALLET.DEPOSIT_AMOUNT' | translate}}</label>
            </div>
            <div class="col-md-8">
                <input type="number" step=0.01 class="form-control" name="deposit_amount1" [(ngModel)]="deposit.amount">
            </div>
        </div>

        <div style="display: none;">
            <form id="form" action="{{settings.ePayReceiveUrl}}" method="post">
                <input name="PAYEE_ACCOUNT" value="{{settings.ePayAccount}}" type="text" />
                <input name="PAYEE_NAME" type="text" value="{{settings.ePayName}}" />
                <input name="PAYMENT_AMOUNT" value="{{deposit.amount}}" type="text" />
                <input name="PAYMENT_UNITS" type="text" value="USD" />
                <input name="PAYMENT_ID" id="PAYMENT_ID" type="text" value="" />
                <input name="STATUS_URL" type="text" value="{{settings.apiUrl + '/epay/receive/status'}}" />
                <input name="PAYMENT_URL" type="text" value="{{settings.apiUrl + '/usd/epay/success'}}" />
                <input name="PAYMENT_URL_METHOD" type="text" value="get" />
                <input name="NOPAYMENT_URL" type="text" value="{{settings.apiUrl + '/usd/epay/fail'}}" />
                <input name="NOPAYMENT_URL_METHOD" type="text" value="get" />
                <input name="SUGGESTED_MEMO" type="text" value="{{settings.ePayMemo}}" />
                <input name="SUGGESTED_MEMO_NOCHANGE" type="text" value="" />
                <input name="FORCED_PAYER_ACCOUNT" type="text" value="" />
                <input name="INTERFACE_LANGUAGE" type="text" value="{{settings.ePayLang}}" />
                <input name="CHARACTER_ENCODING" type="text" value="{{settings.ePayEncoding}}" />
                <input name="V2_HASH" id="V2_HASH" value="" type="text" size="40" />
            </form>
        </div>

        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitEpayDeposit()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showEPayDespositModal = !showEPayDespositModal">Cancel</button>
        </div>
    </form>
</modal-dialog>

<modal-dialog [(visible)]="showEPayWithdrawModal">
    <form class="form-horizontal">
        <div class="text-center">
            <img src="assets/img/ePay.png" />
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a target="_blank" href="https://www.epay.com/?ref=782152">{{'TLWALLET.REFERRAL_ID' | translate}}</a>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-4">
                <label>{{'TLWALLET.WITHDRAW_AMOUNT' | translate}}</label>
            </div>
            <div class="col-md-8">
                <input type="number" step=0.001 class="form-control" name="withdraw_amount1" [(ngModel)]="withdraw.amount">
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-4">
                <label>{{'TLWALLET.TO_ACCOUNT' | translate}}</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="withdraw_address" [(ngModel)]="withdraw.epay_account">
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-4">
                <label>{{'TLWALLET.WITHDRAW_FEE' | translate}}</label>
            </div>
            <div class="col-md-8">
                <label>{{settings.getSystemSetting('usd_withdraw_fee') | number:'1.2-2'}} <i class="fa fa-usd"></i></label>
            </div>
        </div>
        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitEpayWithdraw()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showEPayWithdrawModal = !showEPayWithdrawModal">Cancel</button>
        </div>
    </form>
</modal-dialog>
