<div class="page-container">
  <div class="container">
    <h3 class="text-center position-relative mb-5 pb-5">
      <a [routerLink]="'/announcement'" class="btn btn-secondary position-absolute px-5" style="top:0;left:0;">Back</a>
      {{'announcement.title' | translate}}
      <input type="text" class="form-control position-absolute w-auto" placeholder="{{'header.Search' | translate}}" style="top:0;right:0;"
      />
    </h3>

    <div class="box mb-5">
      <h5>System Upgrade Notice</h5>
      <hr/> Dear Fllows,
      <br/>
      <br/>
      <br/> Sistemkoin will be performing a system upgrade starting at 2018/07/26 06:00 AM (UTC). This is a major upgrade and
      will take approximately 15 minutes. Sistemkoin will suspend all withdrawals and trading during this period or until
      the upgrade is complete. We apologize for any inconvenience caused, and thank you for your patience.
      <br/>
      <br/> Thanks for your support!
      <br/>
      <br/> Sistemkoin Team
      <br/>
      <br/> 26/07/2018
      <br/>
      <br/> Find us on
      <div class="social-links mt-3">
        <a [inlineSVG]="'/assets/icon/facebook-small.svg'"></a>
        <a [inlineSVG]="'/assets/icon/twitter-small.svg'"></a>
        <a [inlineSVG]="'/assets/icon/plane-small.svg'"></a>
        <a [inlineSVG]="'/assets/icon/google-plus-small.svg'"></a>
      </div>
    </div>
  </div>
</div>