.btn-third {
  height: 30px;
  line-height: 28px;
  padding: 0 30px;
}
.with-search {
  background: url('/assets/icon/search.png') no-repeat 7px center;
  padding-left: 34px;
}
.select-all {
  width: 50px;
  border: 1px solid #c1c1c1;
  padding-top: 3px;
  padding-left: 7px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    border: 5px solid transparent;
    border-top-color: black;
    width: 1px;
    height: 1px;
    right: 6px;
    top: 12px;
  }
}
