<footer>
    <div class="row">
        <div class="col-md-6">
            <a class="navbar-brand mb-4" style="margin-left:-2px">
                <img src="/assets/img/logo.png" alt="logo"/>
            </a>
            <div class="mb-3 social-icons">
                <a href="https://www.facebook.com/SistemKoin/" target="_blank" class="font-size24">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/SistemKoin" target="_blank" class="font-size24">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://t.me/sistemkoinofficial" target="_blank">
                    <i class="fa fa-telegram font-size24" aria-hidden="true"></i>
                </a>
            </div>
            <p>
                © 2018 Sistemkoin.com All Rights Reserved
            </p>
        </div>
        <div class="col-md-2 mt-md-4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mb-2" >
                    <a class="nav-link" href="buycoin" target="_blank">
                        {{'FOOTER.HOW_TO_BUY_COIN' | translate}}</a>
                </li>
                <li class="nav-item mb-2" >
                    <a class="nav-link" href="overview" target="_blank">
                        {{'FOOTER.COIN_OVERVIEW' | translate}}</a>
                </li>
                <li class="nav-item mb-2 mb-md-0" >
                    <a class="nav-link" href="sellcoin" target="_blank">
                        {{'FOOTER.HOW_TO_SELL_COIN' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-md-4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mb-2" >
                    <a class="nav-link" href="contactus" target="_blank">
                        {{'FOOTER.CONTACT_US' | translate}}</a>
                </li>
                <li class="nav-item mb-2" >
                    <a class="nav-link" href="https://sistemkoin.com/api/market/ticker" target="_blank">
                        {{'FOOTER.API' | translate}}</a>
                </li>
                <li class="nav-item mb-2 mb-md-0" >
                    <a class="nav-link" href="terms" target="_blank">
                        {{'FOOTER.TERMS_CONDITIONS' | translate}} </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-md-4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mb-2" >
                    <a class="nav-link" href="ucretler" target="_blank">
                        {{'FOOTER.COMMISSION' | translate}}</a>
                </li>
                <li class="nav-item mb-2 mb-md-0" >
                    <a class="nav-link" href="https://goo.gl/forms/BANjIh59Kax9UkSp1" target="_blank">
                        {{'FOOTER.REQUEST_FORM_FOR_LISTING' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>