h6 {
  font-size: 16px;
}

.ngx-datatable {
  height: 380px;
}
.btn-sm {
  width: 80px;
  height: 25px;
  font-size: 14px;
  padding: 0;
  line-height: 25px;
}

.input-group-append {
  width: 40%;
}

.input-group-text {
  width: 100%;
}

.btn-warning {
  width: 180px;
}

.history-table {
  max-height: 300px;
}

input.form-control {
  max-width: 500px;
}

.dialog-button {
  height: 35px;
  width: 100px;
}