<div class="page-container">
    <div class="container">
        <h3 class="text-center mb-4">
            {{'FOOTER.TERMS_CONDITIONS' | translate}}
        </h3>
        <h6 class="home-color">1.TARAFLAR</h6>
        <p>Bu kullanım sözleşmesi, Sistemsa Bilişim Teknolojileri A.Ş. ve www.sistemkoin.com sitesine üye olan
            kullanıcılar arasında düzenlenmiştir.</p>
        <h6 class="home-color">2.TANIMLAR</h6>
        <p>Bu sözleşmede yer alan tanımlar;</p>
        <p>2.1.www.sistemkoin.com; Yeni Mah. Dorukoba Cad. 1198. Sk. Dorukoba Villaları No:1 Bandırma/BALIKESİR
            adresinde bulunan Sistemsa Bilişim Teknolojileri A.Ş.’yi ifade eder.</p>
        <p>2.2.Bitcoin ve Kripto Para Teknolojisi;</p>
        <p>Kripto grafik (şifreli) olarak güvenli işlem yapmaya ve ek sanal para arzına olanak sağlayan dijital
            değerlere, kripto-para denir. Kripto-paralar, alternatif para birimidirler, dijitallerdir ve aynı zamanda
            sanal paralardır.</p>
        <p>Kripto-paralar, merkezi elektronik paraların ve bankacılık sistemlerinin aksine, merkezi olmayan
            yapıdadırlar. Merkezi olmayan bu yapının kontrolü Blok-Zincir (BlockChain) veri tabanları tarafından
            gerçekleşir.</p>
        <p>Kripto paralar dünyanın her yerine transfer edilebilen ve her yerde aynı değeri taşıyan, bir banka ya da
            şirket tarafından kontrol edilemeyen, merkezi bir kontrol noktası olmayan, fiyatının kimse tarafından
            belirlenmediği, serbest piyasaya göre değiştiği dijital para birimleridirler. Sitedeki kripto para (coinler)
            fiyatları arz talep dengesi ile oluşmaktadır.</p>
        <p>Not: Sermaye piyasası kurulu araştırma dairesinin Aralık 2016’da yayınlamış olduğu “Kripto Para-Bitcoin”
            raporundan daha detaylı bilgi alınabilir.</p>
        <p>2.3.Kripto Cüzdan; Coin adreslerinizi ve onların şifrelerini tutan bir bilgisayar dosyasıdır. Coinler (kripto
            paralar) adresler arasında transfer edilebilir. Bu adresler rastgele oluşturulan kriptografik açık anahtar
            eşleridir.</p>
        <p>2.4.Coinler (Kripto Paralar); Sitemizde bulunan Bitcoin(BTC), Dogecoin(DOGE), Litecoin(LTC), Ethereum(ETH),
            Bitcoin Cash(BCH), Ripple(XRP), Digibyte (DGB), Zcash (ZEC), Bitcoingold (BTG) vb. birer Sanal Kripto
            Paralardır.</p>
        <p>2.5. Kullanıcı; Siteye üye olan ve Sistemkoin tarafından sitede sunulan hizmetlerden yararlanan gerçek kişiyi
            ifade eder.</p>
        <p>2.6.Site; www.sistemkoin.com alan adından ve bu alan adına bağlı alt alan adlarından oluşan internet sitesini
            ifade eder.</p>
        <p>2.7.S.S.S; Sitenin, Sıkça sorulan sorular bölümüdür. Kullanıcılara sitenin kullanımı ile ilgili bilgiler
            vermek için kullanılan sayfasıdır.</p>
        <h6 class="home-color">3.AMAÇ</h6>
        <p>İşbu kullanım sözleşmesi ile sitede sunulan hizmetler kullanılırken Sistemkoin ve kullanıcılar arasındaki
            karşılıklı hak ve yükümlülükleri düzenlenmiştir. Sistemkoin’e ait internet sitesi bir alış, satış ve takas
            platformudur. Site üzerinden kullanıcılar birbirleri ile alış, satış ve takas işlemleri yaparlar. Site, bu
            alış, satış ve takasa aracılık eder. Bu nedenle sitede oluşan fiyatları Sistemkoin belirlemez. Fiyatlar arz
            talep dengesine göre belirlenir.</p>
        <h6 class="home-color">4.BAŞLANGIÇ</h6>
        <p>İşbu sözleşme, kullanıcının siteye elektronik ortamda üye olması ile başlar. Kullanıcı, Site’ye üye olurken
            işbu sözleşmenin tüm hükümlerini ayrı ayrı okuyarak kabul ettiğini beyan ve taahhüt eder.</p>
        <h6 class="home-color">5.HAK ve YÜKÜMLÜLÜKLER</h6>
        <p>5.1.KULLANICININ HAK ve YÜKÜMLÜLÜKLERİ</p>
        <p>5.1.1.Kullanıcı, siteyi kullanabilmesi için 18 yaşından büyük olduğunu kabul, beyan ve taahhüt eder.
            Kullanıcının bu bilgiyi hatalı vermesi nedeniyle doğacak tüm zararlardan mesuliyet kullanıcıya aittir.
            Sistemkoin kullanıcının hatalı ve/veya yanlış bilgi verdiğini tespit ettiği halde, sözleşmeyi tek taraflı
            feshederek kullanıcıya ait hesabı hiçbir bildirimde bulunmaksızın iptal etme, durdurma veya askıya alma
            haklarına haizdir. Bu nedenlerden dolayı doğacak hiçbir zarardan Sistemkoin sorumlu olmayacaktır.</p>
        <p>5.1.2.Sitede sunulan hizmete bağlı tüm servislerin, alan adlarının, yazılım kodlarının, ara yüzlerinin,
            içeriklerinin, ürün incelemelerinin, videolarının, algoritmalarının, çizimlerinin, modellerinin,
            tasarımlarının ve diğer tüm fikri ve sınai hakların sahibi Sistemkoin’dir. (Üçüncü kişilerden sağlanan
            içerik ve uygulamalar hariçtir.) Sunulan servislerin yazılım, tasarım ve telif haklarının tamamı
            Sistemkoin’e aittir. Sistemkoin, anılan bu servislerin ve hizmetlerin, bununla bağlantılı sayfaların
            kopyalanmasına, çoğaltılmasına ve yayılmasına, ters mühendislik işlemlerine tabi tutulmasına izin
            vermemektedir. Kullanıcı, bu hükümlere aykırı hareket etmeyeceğini kabul, beyan ve taahhüt eder.
            Kullanıcının bu hükümlere aykırı davranması, sözleşmenin tek taraflı ve haklı feshi nedeni olup tüm hukuki
            ve cezai sorumluluk kullanıcıya aittir.</p>
        <p>5.1.3.Siteye üye olurken verilen bilgilerin doğruluğundan ve gizliliğinden, siteye üye olurken kullanılan
            şifre ve kullanıcı adının korunmasından, 3. kişiler ile paylaşılmamasından kullanıcı sorumludur. Kullanıcı
            bu hususta doğacak zararlar için Sistemkoin’den hiçbir ad altında talepte bulunmayacağını, bu doğrultuda
            Sistemkoin’e gayri kabili olarak rücu ettiğini kabul, beyan ve taahhüt eder.</p>
        <p>5.1.4.Kullanıcı, siteye üye olduktan sonra sahip olduğu hesabını ve haklarını üçüncü şahıslara devredemez,
            satamaz, bağışlayamaz ve her ne ad altında olursa olsun üçüncü kişilere kullandıramaz. Kullanıcının bu
            maddeye aykırı hareketlerinin tespiti halinde Sistemkoin, kullanıcının hesabını önceden hiçbir bildirime
            gerek kalmaksızın iptal etme, durdurma veya askıya alma haklarına sahiptir. Sistemkoin’in bu haklarını
            kullanması nedeniyle kullanıcı, Sistemkoin’i gayri kabili olarak rücu ettiğini kabul eder. Bu madde
            kapsamında meydana gelen tüm zararlardan kullanıcı sorumlu olup tüm cezai müeyyideler de kullanıcıya aittir.
            Ancak bu sebeplerden dahi olsa kullanıcının Kripto Para (Coin) varlıkları bu durumdan etkilenmez ve
            kullanıcının varsa Kripto Para (Coin) varlıkları hukuki bir kısıtlama olmaması şartıyla ve talep halinde
            kullanıcıya derhal iade edilir.</p>
        <p>5.1.5.Kullanıcı, sadece tek bir hesaba sahip olabilir. Kullanıcı, siteyi sadece işbu sözleşmede tanımlanan
            hizmetlerden faydalanmak amacıyla kullanabilir. Kullanıcı, Sistemkoin’in aynı kullanıcıya ait birden fazla
            hesabın varlığını tespit etmesi hainde kullanıcıya ait tüm hesapları önceden bildirimde bulunmaksızın iptal
            etme, durdurma veya askıya alma haklarına sahip olduğunu, bu işlemler nedeniyle Sistemkoin’in herhangi bir
            sorumluluğunun olmadığını ve Sistemkoin’i gayri kabili rücu ettiğini kabul, beyan ve taahhüt eder. Bu madde
            kapsamında sayılan hallerde doğan ve doğacak tüm hukuki ve cezai sorumluluk kullanıcıya aittir. Ancak bu
            sebeplerden dahi olsa kullanıcının Kripto Para (Coin) varlıkları bu durumdan etkilenmez ve kullanıcının
            varsa Kripto Para (Coin) varlıkları hukuki bir kısıtlama olmaması şartıyla ve talep halinde kullanıcıya
            derhal iade edilir.</p>
        <p>5.1.6.Kullanıcı, hukuka ve mevzuata aykırı amaçlarla siteyi kullanmayacağını, hukuka ve mevzuata aykırı
            amaçlarla siteyi kullanması halinde doğacak tüm hukuki ve cezai sorumluluktan kendisinin sorumlu olacağını
            kabul eder.</p>
        <p>5.1.7.Siteye üye olan kullanıcı, hesabını doğrulaması (kimlik ve adres bilgilerini belgelemesi) halinde
            kripto para, USD, EURO ve Türk Lirası çekim işlemleri yapabilmektedir. Kullanıcı tarafından kimlik ve adres
            bilgilerinin belgelenmemesi halinde, Sistemkoin kullanıcıya ait hesap üzerinden hiçbir işlem yapılmasına
            izin vermeyecektir. Kullanıcı tarafından belgelenen kimlik ve adres bilgileri, sistemin Türkiye Cumhuriyeti
            Kanun ve mevzuatlarına uyarlı olması amacıyla talep edilmekte olup, yetkili makamlarca talep edilmesi
            halinde ilgili resmi makamlar ile paylaşılacaktır. Sistemkoin, bu haller dışında kullanıcıya ait kimlik,
            adres, bilgi ve belgelerini hiçbir gerçek ve/veya tüzel kişi ile paylaşmayacağını taahhüt eder.</p>
        <p>5.1.8.Kullanıcı siteyi kullanmasından doğan veya doğacak her türlü zarar, ziyan ve kayıpların kendisinin
            mesuliyetinde olduğunu kabul, beyan ve taahhüt eder. Sistemkoin’in işbu sözleşme kapsamında taahhüt ettiği
            hizmet ve edimleri yerine getirmesi halinde Sistemsa Bilişim Teknolojileri A.Ş yönetim kurulu üyeleri,
            yöneticileri, çalışanları hiçbir şekilde hukuki ve cezai müeyyideden mesul tutulamazlar. Kullanıcı bu
            hususlarda anılan kişileri gayri kabili rücu ettiğini kabul, beyan ve taahhüt eder.</p>
        <p>5.1.9.Kullanıcı siteye üye olurken kullandığı Ad Soyad ile aynı kişiye kayıtlı olan banka hesabını
            kullanacaktır. Kullanıcının farklı isime kayıtlı olan hesaplardan transfer yapması halinde yaşanabilecek
            zarar ve gecikmelerden kullanıcı mesuldür. Sistemkoin üzerinden yapılan para çekimlerinde başka birisine ait
            banka hesabı kullanılamaz. Farklı isimlerle yapılan transferlerin iade süreci işbu sözleşmenin ayrılmaz
            parçası niteliğinde olan “S.S.S” bölümünde yer almaktadır. Yine kullanıcı ATM’ler üzerinden veya diğer para
            yatırma yöntemleri ile transfer yapması halinde doğacak gecikmelerden de kendisi mesuldür. Bu hususlara
            ilişkin prosedürler de “S.S.S” bölümünde yer almaktadır.</p>
        <p>5.1.10.Kullanıcı, Sistemkoin hesabını Sadece Kripto Para Cüzdanı olarak kullanmayacağını ve Coin (Kripto
            Para) çekimlerini kendisine ait cüzdan adreslerine yapacağını taahhüt eder. Yine Kullanıcı, çekim
            adreslerine Sistemkoin tarafından yapılacak mükerrer veya hatalı transferleri geri göndermekle yükümlü
            olduğunu kabul eder.</p>
        <p>5.1.11.Kullanıcının, siteyi kullanması sebebiyle doğacak tüm vergi mükellefiyetlerinden yine kullanıcı
            sorumludur.</p>
        <p>5.2.SİSTEMKOİN'İN HAK ve YÜKÜMLÜLÜKLERİ</p>
        <p>5.2.1.Sistemkoin, siteye üye olan kullanıcının güvenliğini azami ölçüde sağlayacağını taahhüt eder. Bu
            kapsamda Sistemkoin, kullanıcının güvenliği adına üyelik oluşturulurken çift aşamalı SMS, TC Kimlik ve Email
            doğrulaması ile üyelik kaydı yapacaktır. Sistemsa Bilişim Teknolojileri A.Ş basiretli bir tacir gibi
            davranarak gerekli tüm özeni gösterecektir. Kullanıcıya ait birikimler olası bir siber saldırıya karşı site
            sunucularından bağımsız ortamlarda saklanır. Sistemkoin tarafından bu taahhüt yerine getirilmesine karşın
            hesabın yetkisiz kişiler tarafından ele geçirilmesi ve Sistemkoin servislerinin kullanılması halinde işbu
            sözleşmenin (5.1.3) hükümleri geçerli olacaktır.</p>
        <p>5.2.2.Sistemkoin, kullanıcılar tarafından yapılan para transferlerini hiçbir gerekçe göstermeksizin kabul
            etmeme hakkında sahiptir. Ancak bu halde Sistemkoin, kullanıcılar tarafından yatırılan parayı S.S.S ’da yer
            alan iade süreci içerisinde iade edecektir.</p>
        <p>5.2.3.Sistemkoin, kullanıcı tarafından yapılan havale işlemlerini en kısa sürede yerine getirecektir. Para
            yatırma ve/veya para çekme işlemlerinin Türk Borçlar Kanunu ve Türk Ticaret Kanununda sayılan “mücbir sebep”
            halleri ile hiç gerçekleştirilememesi veya geç gerçekleştirilmesi halinde doğacak zararlardan Sistemkoin
            sorumlu olmayacaktır.</p>
        <p>5.2.4.İşbu sözleşmenin (5.1.7.) maddesinde yer verilen ve kullanıcı tarafından Sistemkoin ile paylaşılmayan
            veya geç paylaşılan kimlik ve adres bilgilerinin paylaşılmaması veya geç paylaşılması nedeniyle doğacak
            zararlardan Sistemkoin sorumlu değildir.</p>
        <p>5.2.5.Sistemkoin, site üzerinden sunduğu para yatırma ve çekme işlemlerinde her türlü değişiklik yapma
            hakkına haizdir. Bu değişiklikler nedeniyle doğacak zararlardan Sistemkoin mesul olmayacaktır. Ancak
            Sistemkoin yaptığı değişiklikleri www.sistemkoin.com internet sitesinde bulunan S.S.S sayfalarında veya
            diğer sayfalarda ilan edeceğini taahhüt eder.</p>
        <p>5.2.6.Sistemkoin, destek hizmetlerini yalnızca admin@sistemkoin.com resmi email adresi, sitedeki canlı destek
            bölümü ve üye girişi yaptıktan sonra erişilebilen ticket gönderim yöntemi ile sağlayacaktır. Bu elektronik
            posta adresi, canlı destek ve ticket dışında hiçbir yöntem ile kullanıcılara destek hizmeti verilmemektedir.
            Bu adres üzerinden yapacağı destek hizmetlerinde de kullanıcılara şifre sormaz, kullanıcılardan herhangi bir
            coin göndermeleri için coin adresi bildirmez. Kullanıcı bu madde hükümlerini kabul ederek Sistemkoin’den
            destek alacağını kabul eder. Bu sebeple doğan zararlardan Sistemkoin kesinlikle sorumlu değildir.</p>
        <p>5.2.7.İşbu sözleşmenin (3). Maddesinde belirtildiği üzere aracı pozisyonunda olan Sistemkoin’in arz talep
            ilişkisine göre belirlenen fiyatların değişmesinden dolayı hiçbir sorumluluğu yoktur. Bu sebeplerle doğacak
            tüm zarar ve kayıpların mesuliyeti kullanıcıya aittir.</p>
        <p>5.2.8.Sistemkoin, benzer coin alış satış platformlarından ve coin ile işlem yapan bütün diğer işletmelerden
            tamamen bağımsız bir şirket olup, hiçbir şirketin, internet sitesinin veya kurumun temsilcisi değildir.
            Hiçbir şirketle ortak çalışma yürütmemektedir. Bu nedenle kullanıcıların, başka platformlar üzerinden
            yaşadıkları mağduriyetlerden dolayı Sistemsa Bilişim Teknolojileri A.Ş.’yi sorumlu tutamazlar.</p>
        <p>5.2.9.Hiçbir şirketle ortak çalışmayan Sistemkoin, kullanıcıya ait kişisel bilgileri yasal merciler dışında
            hiçbir şirketle paylaşmayacağını taahhüt eder. Ancak market ile ilgili anonim bilgileri paylaşma yetkisine
            sahiptir.</p>
        <h6 class="home-color">6.HUKUKİ ve CEZAİ MÜEYYİDELER</h6>
        <p>6.1.Kullanıcı, Bitcoin ve diğer coinler ile ilgili BDDK tarafından yapılan ve bundan sonra yapılacak tüm
            açıklamaları okumuş ve kabul etmiş sayılır.</p>
        <p>6.2.Kullanıcı tarafından sitenin hukuka aykırı amaçlarla kullanılması durumunda kullanıcı işbu sözleşmenin
            (5.1.6.). maddesi uyarınca doğacak tüm hukuki ve cezai müeyyidelerden sorumludur. Bu hususta Sistemkoin’i
            gayri kabili rücu ettiğini kabul, beyan ve taahhüt eder.</p>
        <p>6.3.Kullanıcı, siteyi Türkiye Cumhuriyeti yasaları ve tüm mevzuatı kapsamında kullanacağını taahhüt eder.
            Yasalara aykırı kullanım halinde Sistemkoin, kullanıcıya ait tüm bilgileri yetkili merciler ile paylaşma
            hakkına ve yetkisine sahiptir. Bu husus gizliliğin ihlali kapsamında değerlendirilemez ve Sistemkoin’e her
            hangi bir sorumluluk atfedilemez.</p>
        <h6 class="home-color">7.ÜCRETLENDİRME</h6>
        <p>7.1.Sistemkoin, hizmetlerle ilgili ücretlerini sitenin destek bölümünde ilan etmektedir. İlgili bölüme
            www.sistemkoin.com/ucretler adresinden ulaşılmaktadır. Bu bölümde bulunan ücretler işbu sözleşmenin ayrılmaz
            parçası olup ücretler ve S.S.S bölümünde ilan edildiği andan itibaren geçerlilik kazanacaktır.</p>
        <p>7.2.Sistemkoin, alış ve satış işlemlerinde kullanıcıdan kendi belirlediği bir oran üzerinden hizmet bedeli
            alma hakkına sahiptir. Türk Lirası çekme işleminde kullanıcıdan işlem ücreti olarak, kendi belirlediği bir
            ücreti alma hakkına sahiptir. Sistemkoin, bu ücret ve oranlar üzerinde dilediği zaman önceden bildirmeksizin
            değişiklik yapma hakkına sahiptir. Ancak yapılan değişiklikler sitede gerekli bölümlerde ilan
            edilecektir.</p>
        <p>7.3.Site üzerinden yapılan Bitcoin ve diğer coin transferleri iade edilemez. Bitcoin ve diğer coin
            transferleri iade edilemediğinden, Sistemkoin tarafından kullanıcıdan alınan hizmet bedeli ve işlem
            ücretleri de iade edilemez. Kullanıcı bu madde hükümlerini işbu sözleşmenin imzalanması ile peşinen kabul
            ettiğini kabul, beyan ve taahhüt eder. Kullanıcı, hatalı yaptığını düşündüğü bu işlemlerden dolayı
            Sistemkoin’i gayri kabili rücu ettiğini beyan ve taahhüt eder.</p>
        <p>7.4.Sistemimizde alış ve satış işlemleri için her türlü bot vs program kullanmak yasaktır. Tüm işlemler
            gerçek kullanıcılar tarafından yapılmalıdır.</p>
        <h6 class="home-color">8.GİZLİLİK POLİTİKASI</h6>
        <p>8.1.İşbu sözleşmenin (5.2.9.) maddesinde de yer verildiği üzere Sistemkoin, kullanıcının şahsi bilgilerini
            kullanıcının açık rızası haricinde üçüncü şahıslar/şirketler ile paylaşmayacaktır. Kullanıcıya ait bu
            bilgiler çevrimiçi ortamda alınıp çevrimdışı ortamda muhafaza edilmektedir. Ancak Türkiye Cumhuriyeti
            yetkili mercileri tarafından yürütülen bir soruşturma veya kovuşturma kapsamında bilgilerin talep edilmesi
            halinde bu bilgileri ilgili merciler ile paylaşılacaktır.</p>
        <p>8.2.Sistemkoin, kullanıcıya ait IP adreslerini, erişim sağladıkları cihazı ve modeli, işletim sistemleri ve
            tarayıcı bilgilerini tespit etmekte ve kayıt altına almaktadır. Kullanıcı, işbu sözleşmeyi kabul etmesi ile
            bu hususlarda Sistemkoin’e açık rıza verdiğini de kabul eder. Sistemkoin, topladığı bu bilgileri,
            kullanıcılarını genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak, kullanıcı ve sistem
            güvenliğini sağlamak, sahtecilik ile mücadele etmek ve kanuni yükümlülüklere uymak amacı ile
            kullanabilir.</p>
        <p>8.3.Sistemkoin, üçüncü parti kurum ve kuruluşlarla çeşitli şekilde işbirliği yapabilir. Sistemkoin bu
            işbirliklerinde kanunların öngördüğü şekilde izinli iletişim ve/veya pazarlama yapabilecektir. Ancak
            kullanıcının sistemden ücretsiz ve kolayca çıkabilmesini sağlayacak araçlar sunacaktır.</p>
        <p>8.4.Sistemkoin, site içerisinde başkaca sitelere bağlantı sağlayabilir. Anlaşmalı olduğu üçüncü partilerin
            reklamlarını ve/veya çeşitli hizmetlere ilişkin başvuru formlarını yayınlayabilir veya bu sitelere
            yönlendirebilir. Kullanıcının bu şekilde eriştiği üçüncü parti sitelerde uygulanan gizlilik uygulaması ve
            politikaları ile barındırdıkları içeriklerden Sistemkoin sorumlu değildir.</p>
        <p>8.5.Sistemkoin, kullanıcıya ait bilgileri gizli tutmayı ve buna yönelik her türlü tedbirleri almayı taahhüt
            eder. Ancak Türkiye Cumhuriyeti yasaları, KHK’ları ve tüm mevzuatı kapsamında yetkili makamlarca bilgi ve
            belge talep edilmesi halinde bu bilgi ve belgeler yetkili makamlara sunulacaktır. Bundan dolayı doğacak
            zararlardan Sistemkoin sorumlu tutulamayacaktır.</p>
        <p>8.6.Site üzerinde sunulan her türlü içerik, üçüncü parti servisler ve kamuya açık kaynaklardan toplanan
            verilerden oluşmaktadır. Tüm veriler, analizler, raporlar, istatistikler herhangi bir düzenleme veya
            yönlendirme olmadan bilgileri otomatik işleme tabi tutmuş bir yazılım tarafından işlenmekte ve objektif
            olarak sunulmaktadır. Sistemkoin tarafından sunulan her türlü haber ve raporlar sadece bilgilendirme ve
            tavsiyeye yöneliktir ve kesin doğruluğu garanti edilmemektedir. Verilerin bir biriyle çelişkili veya
            tutarsız olması olası olup bu tür durumlardan dolayı Sistemkoin’in hiçbir ad altında sorumluluğu
            bulunmamaktadır.</p>
        <h6 class="home-color">9.UYGULANACAK HUKUK ve YETKİ</h6>
        <p>İşbu sözleşme kapsamında sitenin kullanımından doğan ve/veya yasal uyarıda yer alan koşul ve hükümlere
            ilişkin ve/veya bu site ile bağlantılı olarak çıkabilecek tüm uyuşmazlıklarda Türk Hukuku uygulanacak olup
            yetkili mahkemeler ve icra daireleri İstanbul Mahkemeleri ve İcra Daireleridir.</p>
        <h6 class="home-color">10.SÖZLEŞME DEĞİŞİKLİKLERİ</h6>
        <p>Sistemkoin, işbu sözleşmede yer alan tüm koşul ve hükümleri önceden bildirmeksizin değiştirebilir. Ancak
            değişiklikler sitede ilan edilecektir. Kullanıcı, işbu sözleşmeyi kabul ile Sistemkoin tarafından yapılacak
            bu değişlikleri de önceden kabul ettiğini beyan ve taahhüt eder.</p>
        <h6 class="home-color">11.YÜRÜRLÜLÜK</h6>
        <p>Kullanıcı, siteye üye olduğunda işbu sözleşmenin tüm maddelerini ayrı ayrı okuyup anladığını, sözleşmenin
            bütün içeriğini ve bütün hükümlerini onayladığını kabul, beyan ve taahhüt eder. İşbu sözleşmeyi kabul
            etmeyen kullanıcının siteye üye olmaması ve sitenin hizmetlerinden faydalanmaması gerekmektedir.</p>
    </div>
</div>