<div class="d-flex">
  <h6>{{'profile.Device Management' | translate}}</h6>
  <div class="ml-auto">{{'profile.devicemanage_text' | translate}}</div>
</div>
<div class="table-container mb-4">
  <table class="table">
    <thead>
      <tr>
        <th>{{'table.DEVICE' | translate}}</th>
        <th>{{'table.LOCATION' | translate}}</th>
        <th>{{'table.RECENT ACTIVITY' | translate}}</th>
        <th>{{'table.IP ADDRESS' | translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Opera V54.0.2952.65 (Windows) </td>
        <td>Thailand</td>
        <td>07/21/2018 22:04:07</td>
        <td>28-07-2018 12:02:55</td>
        <td>
          192.168.242.122
        </td>
        <td class="text-right">
          <span class="svg-icon" [inlineSVG]="'/assets/icon/cross.svg'"></span>
        </td>
      </tr>
      <tr>
        <td>Opera V54.0.2952.65 (Windows) </td>
        <td>Thailand</td>
        <td>07/21/2018 22:04:07</td>
        <td>28-07-2018 12:02:55</td>
        <td>
          192.168.242.122
        </td>
        <td class="text-right">
          <span class="svg-icon" [inlineSVG]="'/assets/icon/cross.svg'"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex">
  <h6>{{'profile.Device Management' | translate}}</h6>
  <a class="text-yellow ml-auto">{{'profile.More History' | translate}}</a>
</div>
<div class="table-container mb-4">
  <table class="table">
    <thead>
      <tr>
        <th>{{'table.DATE' | translate}}</th>
        <th>{{'table.TYPE' | translate}}</th>
        <th>{{'table.COIN' | translate}}</th>
        <th>{{'table.AMOUNT' | translate}}</th>
        <th>{{'table.NOTE' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">
          {{'profile.No History Found' | translate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h6>Last Login</h6>
<div class="table-container mb-4">
  <table class="table">
    <thead>
      <tr>
        <th>{{'table.DATE' | translate}}</th>
        <th>{{'table.IP ADDRESS' | translate}}</th>
        <th>{{'table.LOCATION' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>28-07-2018 12:02:55</td>
        <td>192.168.242.122 </td>
        <td>Thailand</td>
      </tr>
      <tr>
        <td>28-07-2018 12:02:55</td>
        <td>192.168.242.122 </td>
        <td>Thailand</td>
      </tr>
      <tr>
        <td>28-07-2018 12:02:55</td>
        <td>192.168.242.122 </td>
        <td>Thailand</td>
      </tr>
      <tr>
        <td>28-07-2018 12:02:55</td>
        <td>192.168.242.122 </td>
        <td>Thailand</td>
      </tr>
    </tbody>
  </table>
</div>