.table {
  font-size: 12px;
  th {
    padding: 10px 0;
  }
  td {
    padding-top: 5px;
  }
}

.price-row {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1.2;
  strong {
    font-size: 14px;
  }
  > div {
    width: 220px;
    min-height: 60px;
    display: inline-block;
    background: #f7f7f7;
    box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.43);
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.price-box {
  padding: 9px 11px;
  select.form-control {
    font-size: 12px;
    width: auto;
    height: 25px;
    margin-top: 2px;
  }
  .alert {
    background: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    color: #605f60;
    padding: 6px 0px;
  }
}

.btn-pricetype {
  padding: 0;
  border: 1px solid #c1c1c1;
  background: white;
  margin-right: 6px;
  &.active {
    border-color: #ffad29;
  }
}

.chartbox-1 {
  .btn-white {
    width: 35px;
    height: 30px;
    padding: 0;
    line-height: 28px;
    margin-bottom: 0.5rem;
    font-size: 12px;
  }
}

.coin-box {
  padding: 9px 11px;
  input.form-control {
    width: 150px;
    height: 25px;
    font-size: 14px;
    padding-left: 20px;
    line-height: 23px;
  }
}

.chartbox-2 {
  padding: 18px;
  select.form-control {
    border: 0px none;
    padding: 0;
    margin-right: 10px;
    height: 20px;
  }
  .fa {
    font-size: 18px;
    color: #c1c1c1;
  }
}

.trade-box {
  padding: 9px 11px;
  font-size: 12px;
}

.p-28px {
  padding: 25px 10px 0 20px;
}

.btn-group {
  .btn {
    padding: 12px 25px;
    line-height: 1;
  }
  .btn-third {
    background: #e6e6e6;
  }
}

.coinbtn-group {
  display: initial;
  .btn {
    padding: 10px 9px;
    line-height: 2px;
    margin-bottom: 5px;
  }
  .selected {
    background: #e6e6e6;
  }
}

.buysell-box {
  .form-group {
    margin-bottom: 4px;
  }
}
input.form-control {
  height: 25px;
  line-height: 23px;
}

.input-custom-group {
  position: relative;
  input.form-control {
    padding-right: 54px;
  }
  span {
    position: absolute;
    top: 4px;
    right: 12px;
    color: #afafaf;
  }
}

.primary-size {
  width: 230px;
  height: 40px;
}

.btn-light {
  background: #605f60;
}

.right-border {
  border-right: 1px solid #c1c1c1;
}

.percent-row button {
  height: 20px;
  line-height: 18px;
  width: 65px;
  background-color: white;
  border: 1px solid #c1c1c1;
  padding: 0;
}

h6 {
  font-size: 16px;
}

.btn-sm {
  width: 84px;
  height: 20px;
  padding: 0;
  line-height: 18px;
  margin-left: 20px;
}

.text-underline {
  text-decoration: underline;
  color: inherit;
}

.buy-table {
  min-height: 150px;
  max-height: 150px;
}
.sell-table {
  min-height: 180px;
  max-height: 180px;
}

.table-responsive {
  overflow-x: auto;
  padding-right: 5px;
}

.pair-table {
  min-height: 280px;
  max-height: 280px;
  tr.active {
    color: #ffad29;
  }
}

.trade-table {
  min-height: 240px;
  max-height: 240px;
}

.history-table {
  max-height: 250px;
}
.filters {
  position: relative;

  i {
    position: absolute;
    left: 7px;
    line-height: 25px;
    color: black;
  }

}

.ct-chart {
  min-height: 350px;
}
