.wrapper {
  min-height: 100vh;
  background-repeat: no-repeat, repeat;
  background-image: url('/assets/img/login_number.png'),
    linear-gradient(180deg, #6a65e2 0%, #8e77b6 60%, #ffae2e 90%);
  background-blend-mode: screen;
  background-position: center center;
  padding-top: 70px;
}
footer {
  font-size: 16px;
  color: white;
  .nav-link {
    color: white;
    padding: 0 15px 0 25px;
    line-height: 1;
  }
  .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid white;
  }
}
.box {
  border: 0px none;
  padding: 50px 39px 40px 39px;
  box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
h2 {
  font-size: 24px;
}
ul.info {
  list-style: none;
  padding: 0;
  line-height: 48px;
  li {
    border-top: 1px solid #dcdcdc;
    &:last-child {
      border-bottom: 1px solid #dcdcdc;
    }
  }
}
