<div class="page-container">
    <div class="container">
        <h3 class="text-center mb-4">
            {{'BANK.TITLE' | translate}}
        </h3>
        <form class="box">
            <div class="mx-auto" style="max-width: 690px">
                <div class="form-group row">
                    <label class="col-sm-4  col-form-label text-sm-right pr-0">
                        {{'BANK.IBAN_CODE' | translate}}:
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="iban_code" [(ngModel)]="bank.iban_code"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4  col-form-label text-sm-right pr-0">
                        {{'BANK.IBAN_CODE_USD' | translate}}:
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="iban_code_usd" [(ngModel)]="bank.iban_code_usd"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4  col-form-label text-sm-right pr-0">
                        {{'BANK.IBAN_CODE_EURO' | translate}}:
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="iban_code_euro" [(ngModel)]="bank.iban_code_euro"/>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-warning mt-3" (click)="onUpdateBank()">{{'BUTTON.UPDATE' | translate}}</button>
                    </div>
                </div>

                <!--<hr class="mt-5 mb-4"/>-->

                <!--<div class="text-center">-->
                    <!--<strong class="text-yellow">{{'COMMON.NOTE' | translate}}:</strong> {{'CHANGEPASSWORD.NOTE1' | translate}}-->
                <!--</div>-->
            </div>
        </form>
    </div>
</div>