
.btn-sm {
  width: 80px;
  height: 25px;
  font-size: 14px;
  padding: 0;
  line-height: 25px;
}
h6 {
  font-size: 16px;
}

button {
  width: 150px;
}

.wallet-address {
  position: relative;;

  input {
    padding-right: 320px;
  }
  .button-group {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.history-table {
  max-height: 300px;
  overflow-x: auto;
}