h6 {
  font-size: 16px;
}
.ngx-datatable {
  height: 380px;
}
.btn-sm {
  width: 80px;
  height: 20px;
  font-size: 12px;
  padding: 0;
  line-height: 12px;
}
.input-group-append {
  width: 40%;
}
.input-group-text {
  width: 100%;
}
.btn-warning {
  width: 180px;
}
input.form-control,
select.form-control {
  max-width: 500px;
}
