<div class="page-container">
  <div class="container">
    <h3 class="text-center mb-4">
      {{'verifyidentity.title' | translate}}
    </h3>

    <div class="box text-center">
      <h5 class="my-5">{{'verifyidentity.Awaiting Approval' | translate}}</h5>
      <p>
          {{'verifyidentity.text7' | translate}}
        <br/>
        <a class="text-warning">{{'verifyidentity.Go back to User Center' | translate}}</a>
      </p>

      <div class="box mx-auto p-4" style="max-width: 660px">
        <ul class="pl-3 text-left">
          <li><p>{{'verifyidentity.text8' | translate}}</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>