<div class="page-container">
    <div class="container">
        <h3 class="text-center mb-4">
            {{'FOOTER.HOW_TO_BUY_COIN' | translate}}
        </h3>
        <p>Sitemizden coin satın alabilmek için, sitemize girip hesap oluşturmanız ve profilinizi onaylamanız
            gerekmektedir. Onay sonucunda hesabınıza yatırdığınız miktar para kadar coin alabilirsiniz .</p>
        <p>İlk olarak satın almak istediğiniz coini seçmelisiniz. Daha sonra ALIŞ-SATIŞ EMİRLERİ bölümünden, satın almak
            isteğiniz fiyatı ve miktarı girerek bekleyebilirsiniz. Girdiğiniz fiyattan başka bir üye veya sizin
            tarafınızdan satım emri gelirse sistemimiz sizi otomatik olarak eşleştirecek ve sizde coini satın almış
            olacaksınız.</p>
        <!--<p>Buna ek olarak HIZLI SATIN AL Bölümünden satın almak istediğiniz miktarı yazarak hiç beklemeden  en hızlı şekilde coin satın alabilirsiniz.</p>-->
        <p>#Sistemkoin</p>
    </div>
</div>