.wrapper {
  min-height: 100vh;
  background-repeat: no-repeat, repeat;
  background-image: url('/assets/img/login_number.png'),
    linear-gradient(180deg, #6a65e2 0%, #ffae2e 90%);
  background-blend-mode: screen;
  background-position: center center;
  padding-top: 70px;
}
.box {
  border: 0px none;
  padding: 50px 39px 40px 39px;
  box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
h2 {
  font-size: 24px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: -3px;
    right: -3px;
    top: 50%;
    border-top: 1px solid #a7a7a7;
  }
  span {
    display: inline-block;
    padding: 0 20px;
    background: white;
    position: relative;
    z-index: 1;
  }
}
.form-control {
  padding: 0px 12px 0px 50px;
  font-size: 16px;
  line-height: 53px;
  height: auto;
  &.email {
    background: url('/assets/icon/email.png') no-repeat 12px center !important;
  }
  &.password {
    background: url('/assets/icon/password.png') no-repeat 14px center !important;
  }
}
.form-group {
  margin-bottom: 16px;
}
.btn-warning {
  font-size: 20px;
  height: 55px;
  line-height: 55px;
  padding: 0;
  margin: 20px 0 20px 0;
}
