<div class="fix-social-icon-list">
    <div class="all-social-icons">
        <li>
            <a href="https://www.facebook.com/SistemKoin/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/SistemKoin" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://t.me/sistemkoinofficial" target="_blank">
                <i class="fa fa-telegram"></i>
            </a>
        </li>
    </div>
</div>

<div class="hero-area hero-area-bg">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="site-logo">
                        <a href="" class="branding-logo">
                            <img src="assets/img/page-logo.png" alt="">
                        </a>
                    </div>
                    <div class="mobile-menu-active"></div>
                </div>
                <div class="col-md-8 col-md-offset-1 col-sm-9">
                    <div class="site-main-menu">
                        <div class="main-menu-sec">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-area-content">
            <div class="hero-area-content-tablecell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-area-big-img">
                                <img src="assets/img/hero-big-img.png" alt="">
                            </div>

                            <div class="hr-textt">
                                <h2 class="text-uppercase">{{'HOME.SISTEMKOIN' | translate}}</h2>
                                <h4>{{'HOME.CRYPTO_MARKET' | translate}}</h4>
                            </div>
                            <div class="hero-button-list">
                                <a [routerLink]="['/signup']" class="hr-buton-all text-uppercase">{{'HOME.SIGN_UP' | translate}}</a>
                                <a [routerLink]="['/login']" class="hr-buton-all text-uppercase">{{'HOME.SIGN_IN' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="graph-img-section text-center" style="background-color: black;">-->
        <!--<owl-carousel [options]="owlConfig" [items]="tickers"-->
                      <!--[carouselClasses]="['owl-theme', 'row', 'sliding', 'all-grp-slde']">-->
            <!--<div *ngFor="let ticker of tickers;let i = index" class="single-slide {{i}}" [innerHTML]="ticker">-->
            <!--</div>-->
        <!--</owl-carousel>-->
    <!--</div>-->

    <div class="program-section-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="big-title">Programlar</h1>
                        <h2>Sistemkoin Referans Programı</h2>
                        <p>ico is a decentralized platform providing Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <div class="program-left-img">
                        <img src="assets/img/program-sec-img.png" alt="">
                    </div>
                </div>

                <div class="col-md-6 col-sm-7">
                    <div class="prog-roght-textt">
                        <div class="single-item-list">
                            <div class="lft-icon">
                                <i>
                                    <img src="assets/img/sistemkoin.png" alt="">
                                    <div class="sep"></div>
                                </i>
                            </div>
                            <div class="single-lst-content">
                                <h4>Sisteme Üye Ol</h4>
                                <p>Kayıt Olun ve Referans Kodunuzu alın</p>
                            </div>
                        </div>
                        <div class="single-item-list">
                            <div class="lft-icon">
                                <i>
                                    <img src="assets/img/sistemkoin.png" alt="">
                                    <div class="sep"></div>
                                </i>
                            </div>
                            <div class="single-lst-content">
                                <h4>Crowd Wisdom </h4>
                                <p>Analysts and Artificial Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="single-item-list">
                            <div class="lft-icon">
                                <i>
                                    <img src="assets/img/sistemkoin.png" alt="">
                                </i>
                            </div>
                            <div class="single-lst-content">
                                <h4>Rewards Mechanism</h4>
                                <p>Members are paid for Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="program-section-area graph-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="big-title">nasıl İşler</h1>
                        <h2>Sistem nasıl işler</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <div class="graph-2-left-text">
                        <div class="single-grp-t-text">
                            <div class="single-gp-text-all">
                                <span class="nmbr">1.</span>
                            </div>
                            <p>Öncelikle Kayıt ol Butonuna tıklayarak sistemimize üye olunuz.</p>
                        </div>
                        <div class="single-grp-t-text">
                            <div class="single-gp-text-all">
                                <span class="nmbr">2.</span>
                            </div>
                            <p>Cüzdan oluştur bölümünden tüm coinler için cüzdanınızı
                                <br> oluşturunuz.</p>
                        </div>
                        <div class="single-grp-t-text">
                            <div class="single-gp-text-all">
                                <span class="nmbr">3.</span>
                            </div>
                            <p>Yatırımlarınızı ve çekimlerinizi bu oluşturduğunuz cüzdanları
                                <br> kullanarak yapabilirsiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="program-left-img">
                        <img src="assets/img/grph-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="solution-area-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="big-title">nasıl İşler</h1>
                        <h2>Sistem nasıl işler</h2>
                        <p>The Cryptocurrency industry is one of the Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-solutions">
                        <div class="sl-top-icon">
                            <img src="assets/img/sr-1n.png" alt="">
                        </div>

                        <div class="sl-textt">
                            <h3>Relational Blockchain</h3>
                            <p>Contributors and members est et expedita distinctio. Nam libero tempore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-solutions">
                        <div class="sl-top-icon">
                            <img src="assets/img/sr-2n.png" alt="">
                        </div>

                        <div class="sl-textt">
                            <h3>Fraud Reduction</h3>
                            <p>Contributors and members est et expedita distinctio. Nam libero tempore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-solutions">
                        <div class="sl-top-icon">
                            <img src="assets/img/sr-3.png" alt="">
                        </div>

                        <div class="sl-textt">
                            <h3>Next Generation Wallet</h3>
                            <p>Members can ask questions and get professional advice from Experts</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-solutions">
                        <div class="sl-top-icon">
                            <img src="assets/img/sr-4.png" alt="">
                        </div>

                        <div class="sl-textt">
                            <h3>Recovery Nodes</h3>
                            <p>Institutional investors and other members can access in-depth technical analysis and
                                market </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top-area">
        <div class="container-fluid">

            <div class="posi-imgg-mainn">
                <div class="posi-imgg">
                    <img src="assets/img/round-imggg.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="big-title">nasıl İşler</h1>
                        <h2>Sistem nasıl işler</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-sponsec-sec">
                        <div class="sponsec-sec-tablecell">
                            <h1>SPONSOR</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-sponsec-sec">
                        <div class="sponsec-sec-tablecell">
                            <h1>SPONSOR</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-sponsec-sec">
                        <div class="sponsec-sec-tablecell">
                            <h1>SPONSOR</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-area-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="footer-single-item">
                        <div class="footer-logo">
                            <a href="" class="ft-branding">
                                <img src="assets/img/footer-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-single-item">
                        <div class="footer-lnk-list">
                            <li>
                                <a href="">Nasıl Coin Alınır</a>
                            </li>
                            <li>
                                <a href="">Coin Nedir</a>
                            </li>
                            <li>
                                <a href="">APİ</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-single-item">
                        <div class="footer-lnk-list">
                            <li>
                                <a href="">Kullanıcı sözleşmesi</a>
                            </li>
                            <li>
                                <a href="">Nasıl Coin Satılır</a>
                            </li>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-single-item subs">
                        <div class="footer-lnk-list">
                            <h3>Haber Bülteni İçin</h3>

                            <div class="footer-sub-form">
                                <input type="text" placeholder="Abone olduğunuz için teşekkürler">
                                <input type="submit" value="Abone ol">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>