<div class="page-container">
  <div class="container">
    <h3 class="text-center mb-5">
      {{'aboutus.title' | translate}}
    </h3>

    <div class="clearfix pt-4 mb-5">
      <img src="/assets/img/aboutus.png" alt="aboutus" class="float-left mw-100" style="margin-left: -15px">
      <p>
        {{'aboutus.content1' | translate}}
      </p>
    </div>

    <div class="row box-row pt-4">
      <div class="col-md-3 col-sm-6">
        <div class="coin-box">
          <div class="my-icon" [inlineSVG]="'/assets/icon/aboutus-1.svg'"></div>
          <h6>{{'aboutus.box1_title' | translate}}</h6>
          <p>
            {{'aboutus.box1_content' | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="coin-box">
          <div class="my-icon" [inlineSVG]="'/assets/icon/aboutus-2.svg'"></div>
          <h6>{{'aboutus.box2_title' | translate}}</h6>
          <p>
            {{'aboutus.box2_content' | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="coin-box">
          <div class="my-icon" [inlineSVG]="'/assets/icon/aboutus-3.svg'"></div>
          <h6>{{'aboutus.box3_title' | translate}}</h6>
          <p>
            {{'aboutus.box3_content' | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="coin-box">
          <div class="my-icon" [inlineSVG]="'/assets/icon/aboutus-4.svg'"></div>
          <h6>{{'aboutus.box4_title' | translate}}</h6>
          <p>
            {{'aboutus.box4_content' | translate}}
          </p>
        </div>
      </div>
    </div>

    <p class="mt-5">
      {{'aboutus.content2' | translate}}
    </p>
  </div>
</div>