<div class="page-container">
  <div class="container">
    <h3 class="text-center position-relative">
      FAQ
      <input type="text" class="form-control position-absolute w-auto" placeholder="{{'header.Search' | translate}}" style="top:0;right:0;"
      />
    </h3>

    <div class="row">
      <div class="col-sm-6">
        <h6>{{'faq.Deposit/Withdraw' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>

      <div class="col-sm-6">
        <h6>{{'faq.Trading' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>

      <div class="col-sm-6">
        <h6>{{'faq.Account Access' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>

      <div class="col-sm-6">
        <h6>{{'faq.Two-Factor Authentication' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>

      <div class="col-sm-6">
        <h6>{{'faq.Security' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>

      <div class="col-sm-6">
        <h6>{{'faq.Miscellaneous' | translate}}</h6>
        <div class="box">
          <p>Withdraw to wrong address</p>
          <p>Cannot receive Email</p>
          <p>Deposit Fiat currency</p>
          <p>Deposit Forgot or Wrong Tag/Memo/Payment ID</p>
          <p>Deposited wrong coins</p>
          <p>Sent to wrong address</p>
          <a class="yellow">{{'faq.See all' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>